<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Verification Email Template</title>
</head>
    <body>
    <p>Hello <span th:text="${recipientName}"></span>,</p>
        <p>You have created your account. Verify your email address to enable your account.</p>
        <a th:href="@{${confirmationUrl}}" class="btn btn-primary">Verify your email</a>
        <p>Or visit the link: <a th:href="${confirmationUrl}">Click Here</a></p>
        <p>Best regards.</p>
    </body>
</html>